- title "FirmHugger - Create company profile"

.signin-box
  %hgroup
    %h1 Please check your email
    %hr.top
    %hr.bottom

  %p We have sent an email to
  %p %a email
  %p with a link to verify your account.

  %p If you can't find the email, please check your spam filter.

  %p %strong Thank you for signing up
  %p The firmhugger team