<div class="left third">
	<%= raw @page.column 1 %>
</div><!-- end column -->
<div class="left third">
	<%= raw @page.column 2 %>
</div><!-- end column -->
<div class="right third">
	<%= raw @page.column 3 %>
</div><!-- end column -->
