<div class="left quarter">
	<%= raw @page.column 1 %>
</div><!-- end column -->
<div class="left quarter">
	<%= raw @page.column 2 %>
</div><!-- end column -->
<div class="left quarter">
	<%= raw @page.column 3 %>
</div><!-- end column -->
<div class="right quarter">
	<%= raw @page.column 4 %>
</div><!-- end column -->
